{{ partial "head.html" . }}
<div class="container mt-5">
  <h1>Privacy Policy</h1>
  <p>We are leitstand.io ("we", "our", "us"). We’re committed to protecting and respecting your privacy. If you have questions about your personal information please contact us.</p>
  <h3>What information we hold about you</h3>
  <p>In the event you try to contact us by using the contact form, we collect and process the following data:</p>
  <ul>
    <li>Your name or username.</li>
    <li>Your email address.</li>
    <li>Message content.</li>
  </ul>
  <h3>How your personal information is used</h3>
  <p>We may use your personal information in the following ways:</p>
  <ul>
    <li>We only use the information you provided to respond to your contact. This information is never shared with 3rd parties.</li>
  </ul>
  <h3>Other ways we may use your personal information.</h3>
  <p>There is no other method to use your personal information beyond the above mentioned.</p>
  <h3>Keeping your data secure</h3>
  <p>We are committed to ensuring that any information you provide to us is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable measures and procedures to safeguard and secure the information that we collect.</p>
  <h3>Cookie policy</h3>
  <p>Cookies policy is not applicable since Cookies are not used on this website.</p>
  <h3>Rights</h3>
  <p>You have a right to access the personal data we hold about you or obtain a copy of it. To do so please contact us. If you believe that the information we hold for you is incomplete or inaccurate, you may contact us to ask us to complete or correct that information.</p>
  <p>You also have the right to request the erasure of your personal data. Please contact us if you would like us to remove your personal data.</p>
  <h3>Acceptance of this policy</h3>
  <p>Continued use of our site signifies your acceptance of this policy. If you do not accept the policy then please do not use this site.</p>
  <h3>Changes to this policy</h3>
  <p>We may make changes to this policy at any time. You may be asked to review and re-accept the information in this policy if it changes in the future.</p>
</div>
