$light: #fff;
$primary-color: rgb(72, 105, 232);
$secondary-color: #f5f5f5;
$pink-color: rgb(249, 72, 119);
$black:#111;
$black-light: #2b2e3a;
$border-color:#dedede;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Source Sans Pro', sans-serif;
