$colorPurple:#573DC8;
$colorDarkBlue:#2E33B6;
$colorBlue:#0071BC;
$colorLightBlue:#29ABE2;
$colorLightGreen:#95F4D0;
$colorColdGrey:#4A5465;

$light: #fff;
$primary-color: $colorPurple;
$secondary-color: $colorLightGreen;
$pink-color: rgb(249, 72, 119);
$black:#111;
$black-light: #2b2e3a;
$border-color:#dedede;
$primary-font:'Montserrat', sans-serif;
$secondary-font:'Open Sans', sans-serif;
