.slider{
  background: linear-gradient(to right, #573dc8 0%,#79d7c1 100%); ;
  background-size: cover;
  background-position: 10% 0%;
  padding:220px 0 200px 0;
  position: relative;
  overflow: hidden;
  @extend .overly-wireframe;

    h1{
      font-size: 56px;
      line-height: 70px;
    }

    p{
     width: 65%;
    margin: 0 auto;
    }

    span{
      letter-spacing: 8px;
      color:rgba(255,255,255,.85);
      font-size: 15px;
    }

    .slider-content{
      position: relative;
      z-index: 1;
    }

    .slider-parralax{
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;

      svg, img{
        position: absolute;
        top: 10%;
        right: -31%;
        z-index: 0;
      }
    }
}


.letter-spacing{
  letter-spacing: 1px;
}

.mt--6{
  margin-top: -4rem;
}

.slider-cta .btn:hover{
  border-color: $light;
  background: transparent;
}
.slider .btn-main:hover{
  background: $light;
  color: $primary-color;
  border-color: $light;
}

@include mobile{

  .slider{
    padding: 126px 0 151px 0;
  }
    .slider h1 {
      font-size: 27px;
      line-height: 38px;
  }
}
@include mobile-xs{

  .slider .block h1 {
      font-size: 28px;
      line-height: 40px;
  }

  .slider{
    padding: 126px 0 151px 0;
  }
}
@include tablet{
    .slider h1 {
      font-size: 37px;
      line-height:48px;
  }
}
