<div class="blog-item text-center ">
  <img src="{{ .Params.Image | absURL }}" alt="{{ .Title | markdownify }}" class="img-fluid mb-4 rounded">
 {{ range .Params.Categories }}<span class="letter-spacing text-color text-sm text-uppercase"><a href="{{ `categories/` | relLangURL }}{{ . | lower }}"> {{ . | humanize }}</a></span>{{ end }}
  <h3 class="mb-1"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
  <div class="blog-item-meta">
    <span class="text-uppercase text-sm mr-3 letter-spacing"><i class="ti-user mr-1"></i> <a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a></span>
    <span class="text-uppercase text-sm letter-spacing"><i class="ti-time mr-1"></i>
      {{ .PublishDate.Format "January 02, 2006" }}</span>
  </div>
  <p class="mt-3 mb-4">{{ .Summary }}</p>
  <a href="{{ .Permalink }}" class="btn btn-main">{{ i18n "read_more" }}</a>
</div>