<div class="sidebar-wrap mt-5 mt-lg-0">
  <div class="sidebar-widget search mb-5">
    <form action="{{ `search/` | relLangURL }}">
      <input id="search-query" name="s" type="search" class="form-control" placeholder="search">
      <button type="submit" class="btn btn-dark btn-block mt-2">{{ i18n "search" }}</button>
    </form>
  </div>

  <div class="sidebar-widget latest-post mb-4">
    <h5 class="text-center mb-4">{{ i18n "latest_post" }}</h5>
    {{ range first 3 ( where .Site.RegularPages "Type" "post" )}}
    <div class="media border-bottom py-3">
      <a href="{{ .Permalink }}"><img class="post-thumb-sm mr-4 rounded" src="{{ .Params.Image | absURL }}"
          alt="{{ .Title | markdownify }}"></a>
      <div class="media-body">
        <h6 class="my-2"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h6>
        <span class="text-sm text-muted">{{ .PublishDate.Format "02 Jan 2006" }}</span>
      </div>
    </div>
    {{ end }}
  </div>

  <div class="sidebar-widget category mb-4">
    <h5 class="mb-4 text-center">{{ i18n "category"}}</h5>
    {{ .Scratch.Delete "categories" }}
    {{ range $.Site.RegularPages }}
    {{ with .Param "categories" }}
    {{ $category := (printf `/%s` (replace (delimit . " ") " " "/")) }}
    {{ $.Scratch.Add "categories" (slice $category) }}
    {{ end }}
    {{ end }}
    {{ $categories := uniq (.Scratch.Get "categories") | sort }}
    {{ range $categories }}
    {{ $categoryTerms := (split (strings.TrimPrefix "/" .) "/") }}
    {{ $lastTerm := (delimit (last 1 $categoryTerms) " ") }}
    {{ with $.Site.GetPage (printf `/categories/%s` $lastTerm) }}
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle | default .Data.Term | default $lastTerm }}</a>
        <span class="badge badge-primary badge-pill">{{ printf "%d" (len .Data.category) }}</span>
      </li>
    </ul>
    {{- end }}
    {{- end }}
  </div>

  <div class="sidebar-widget tags mb-3">
    <h5 class="mb-4 text-center">{{ i18n "tags"}}</h5>
    {{- if isset .Site.Taxonomies "tags" }}
    {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
    {{- range $name, $items := .Site.Taxonomies.tags }}
    <a href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a>
    {{- end }}
    {{- end }}
    {{- end }}
  </div>
</div>