<!-- Header Start -->
<header id="header" class="navigation">
  {{ if .Site.Params.top_header }}
  <!-- top header -->
  <div class="header-top d-none d-md-block d-lg-block">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-8 col-md-8">
          <div class="header-top-info">
            <a href="tel:{{ .Site.Params.phone }}"><i
                class="ti-mobile mr-2"></i><span>{{ .Site.Params.phone }}</span></a>
            <a href="mailto:{{ .Site.Params.email }}"><i
                class="ti-email mr-2"></i><span>{{ .Site.Params.email }}</span></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="header-top-socials text-center text-lg-right">
            {{ range .Site.Params.social }}
            <a href="{{ .link | safeURL }}" target="_blank"><i class="{{ .icon }}"></i></a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /top header -->
  {{ end }}

  <nav class="navbar navbar-expand-lg px-0  main-nav" id="navbar">
    <div class="container">
      <div class="col-12 col-lg-4 d-flex align-items-center navbar-brand-wrapper">
        <a class="navbar-brand col ml-md-n5 ml-n3 px-0 px-md-3" href="{{ .Site.Params.homeURL | relLangURL }}">
          {{ if .Site.Params.logo_svg }}
            {{ .Site.Params.logo | absURL }}
          {{ else }}
            <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" class="img-fluid">
          {{ end }}
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="ti-menu"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <div class="navbar-inner container px-0">
          <ul class="navbar-nav ml-auto text-lg-left my-3 my-lg-0">
            <li class="nav-item active"><a class="nav-link"
                href="{{ .Site.Params.homeURL | relLangURL }}">{{ .Site.Params.Home }}</a></li>
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ .Name }} +
              </a>
              <div class="dropdown-menu">
                {{ range .Children }}
                <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </li>
            {{ else }}
            <li class="nav-item">
              <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
          </ul>

          <!-- Language List -->
          {{ if .IsTranslated }}
          <select class="m-2 border-0" id="select-language" onchange="location = this.value;">
            {{ $siteLanguages := .Site.Languages}}
            {{ $pageLang := .Page.Lang}}
            {{ range .Page.AllTranslations }}
            {{ $translation := .}}
            {{ range $siteLanguages }}
            {{ if eq $translation.Lang .Lang }}
            {{ $selected := false }}
            {{ if eq $pageLang .Lang}}
            <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
            </option>
            {{ else }}
            <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
          </select>
          {{ end }}

          {{ if .Site.Params.navigation_button.enable }}
          <div class="text-center text-lg-left px-3 mb-3 mb-lg-0">
            <a href="{{ .Site.Params.navigation_button.link | absLangURL }}"
              class="quote-btn btn-block text-white btn-round-full letter-spacing text-uppercase">{{ .Site.Params.navigation_button.label }}
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Header Close -->
